#slider{
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 7rem 0;
   color: white;
}
#slider .right{
    border:5px solid #BA55D3;
    border-bottom-color: #5568d3;
    border-right-color: #d35574;
    border-left-color: #55b6d3;
    border-radius: 50%;
    animation: showdow 2s infinite ease;
}
@keyframes showdow{
    from{filter: drop-shadow(1px 1px 0px #87CEFA);}
    to{filter: drop-shadow(1px 1px 20px #87CEFA);}
}
#slider .left{
    padding: 2rem;
    font-family: monospace;
    font-size: 2rem;
    line-height: 4rem;
}
#slider .right img{
    height: 25rem;
    width: 25rem;
}
#slider .left .socialMedia,#slider .left .contactUsBtn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 2rem;
}
#slider .left h1 span{
    text-shadow: 0px 0px 5px #87CEFA;
    color: #dcf0fd;
}
#slider .left .socialMedia a{
    color: white;
}

@media screen and (max-width:767px){
    #slider{
        flex-direction: column;
    } 
    #slider .right img{
        height: 15rem;
        width: 15rem;
    }
    #slider .left{
        padding: 1rem;
        font-size: 1.4rem;
    }
}

@media screen and (max-width:1024px) and (min-width:768px){
    #slider .right img{
        height: 15rem;
        width: 15rem;
    }  
}